<!DOCTYPE HTML>

<html>
<head>
<title>Tron</title>
<link rel="stylesheet" href="/global.css">
</head>
<body>
<div id="mainPage">
<h1>Tronlang</h1>
<hr>
<table>
{{if .HasHead}}
<thead>
<tr>
    {{range $id, $val := .Head}}
        <th scope="col" colspan="1">{{$val}}</th>
    {{end}}
</tr>
</thead>
{{end}}
<tbody>
{{range .Data}}
    <tr>
    {{range .}}
        <td id="data">{{.}}</td>
    {{end}}
    </tr>
{{end}}
</tbody>
</table>

<a href="/">back</a>

</div>
<div id="footer">
<p>
created by InstrumentPurple 2025-2026
</p>
</div>
</body>
</html>
