<!DOCTYPE HTML>

<html>
<head>
<title>Tron</title>
<link rel="stylesheet" href="/global.css">
</head>
<body>
<div id="mainPage">
<h1>Tronlang</h1>
<hr>
<table>

<tr><th>Rootbeers</th>
{{range $key1, $value1 := .Rbs}}
<td id="data">{{$key1}} = {{$value1}}</td>
{{end}}
</tr>


<tr><th>Strings</th>
{{range $key2, $value2 := .Strs}}
<td id="data">{{$key2}} = {{$value2}}</td>
{{end}}
</tr>

<tr><th>Booles</th>
{{range $key3, $value3 := .Booles}}
<td id="data">{{$key3}} = {{$value3}}</td>
{{end}}
</tr>


</table>

<hr>
</div>
<div id="footer">
<p>
created by InstrumentPurple 2025-2026
</p>
</div>
</body>
</html>
