td#variable{
    border:1px solid #AAA;
    border-collapse: collapse;
    padding:6px;
	word-wrap: break-word;
	overflow-wrap: break-word; /* Modern standard alias for word-wrap */
	max-width:360px;
    display: inline-block;
    vertical-align: top;
}

td#data{
    border:1px solid #AAA;
    border-collapse: collapse;
    padding:6px;
    word-wrap: break-word;
    overflow-wrap: break-word; /* Modern standard alias for word-wrap */
    max-width:360px;

}

th{
    text-align: left;
    padding:10px;
    font-size:20px;
    /* display: inline-block; */
}

#footer{
    font-size:12px;
	background-color:#AA8888;
}

#mainPage{
    opacity:.77;
    background-color:#FFF;
    padding:30px;
}

body{
    background-color:#AAA;
    background-image:url(/ms2236__c01__f02_.jpg);
}
