td#data{
    border:1px solid #AAA;
    border-collapse: collapse;
    padding:6px;
	word-wrap: break-word;
	overflow-wrap: break-word; /* Modern standard alias for word-wrap */
	max-width:360px;
}

#footer{
    font-size:12px;
	background-color:#AA8888;
}

#mainPage{
    opacity:0.6;
    background-color:#FFF;
    padding:30px;
}

body{
    background-color:#AAA;
    background-image:url(/ms2236__c01__f02_.jpg);
}
