td#data{
    border:1px solid #AAA;
    border-collapse: collapse;
    padding:6px;
}

#footer{
    font-size:12px;
}

#mainPage{
    opacity:0.6;
    background-color:#FFF;
    padding:30px;
}

body{
    background-color:#AAA;
    background-image:url(/ms2236__c01__f02_.jpg);
}
